.two-col {
  background-color: #a5a5a5;
  width: 350px;
  &__img {
    height: 370px;
  }
  &__skills:not(:last-child) {
    margin-bottom: 44px;
  }
  &__contacts {
    margin-bottom: 44px;
  }
  &__container {
    padding: 50px 40px 35px 40px;

    .two-col__list {
      // list-style-color
    }
    .two-col__list > * {
      color: #000;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      // opacity: 0.5;
    }
    .two-col__title {
      margin-bottom: 8px;
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      color: #ffffff;
    }

    .two-col__item {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #ffffff;
    }
    .two-col__link {
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      text-decoration: underline;
      // opacity: 0.5;
      color: #000;
    }
  }
}
